body{

  font-family: arial;
  font-size: 25px;
  color:black;
}
.bodytext a{
  color:red;
  text-decoration: none;
}
.bodytext a:hover{
  text-decoration: line-through;
}
.number:hover {
  background-color: blue;
  color:red;
}
.footnote{

  position: fixed;
  bottom: 10px;
  left:10px;
  display: none;
}
.footnote.showme{
  display: block;

}
.thumbnail{
  width: 50px;
}
.thumbnail.enlarge{
  width:550px;
}
